@font-face {
    font-family: 'Raleway-Thin';
    src: url('polices/Raleway-thin/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('polices/Raleway-thin/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src:url('polices/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.woff2') format('woff2'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.eot'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Regular';
    src:url('polices/Raleway-Regular/Raleway-Regular.woff') format('woff'),
        url('polices/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
        url('polices/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular') format('svg'),
        url('polices/Raleway-Regular/Raleway-Regular.eot'),
        url('polices/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('polices/Raleway-Regular/Raleway-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
    margin-top: 2em;
    margin-left: 2em;
}

body {
	font-family: 'Raleway-Regular', 'Raleway-SemiBold', Arial, sans-serif;
    width: 100%;
}


header {
    display: flex;
}

img {
    width: 100px;
	height: 50px;
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav li {
    padding-right: 50px;
}

header nav a {
    text-decoration: none;
    color:grey;
}

header nav a:hover {
    color: #0065FC;
    font-family: 'Raleway-SemiBold';
}

header h1 {
	font-family: 'Raleway-SemiBold', serif;
	font-weight: normal;
    font-size: 1.5em;
}

header h2 {
    font-family: 'Raleway-Thin', serif;
	font-weight: normal;
    font-size: 1.1em;
    margin-top: -13px;
}

#search_bar {
    margin-top: 20px;
    margin-bottom: 30px;
}

#B1 {
    display: flex;
}

#background_map_marker {
    background-color: #F2F2F2;
    width: 37px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

#map_marker {
    width: 15px;
    height: 15px;
    margin: 20px 15px 20px 15px;
}

#barre {
	width: 190px;
	height: 40px;
    border-width: 0.2em;
    border-left-color: white;
    border-right-color: white;
    border-color: #F2F2F2;
    border-style: solid;
}

#rechercher {
    width: 100px;
	height: 40px;
	border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    color: white;
    border-style: none;
    font-weight: bold;
}

#rechercher button:active {
	border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
}

#filtres {
    display: flex;
    margin-bottom: 30px;
}

#filtres h1 {
    font-size: 1em;
    font-family: 'Raleway-SemiBold', serif;
    margin-right: 30px;
}

#filtres button {
    margin-right: 30px;
    border-radius: 50px;
    background-color: white;
    font-family: 'Raleway-SemiBold', serif;
    border-color: #F2F2F2;
    border-width: 0.2em;
    border-style:solid;
}

#information {
    margin-top: 15px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

#background_button_i {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border-color: #F2F2F2;
    border-width: 0.2em;
    border-style: solid;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

#button_i {
    width: 0.3em;
}

#hebergements {
	width: 600px;
	height: 390px;
	margin: 30px 30px 30px 30px;
	padding: 5px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: #F2F2F2;
	text-align: left;
}

#hebergements h2 {
    font-size: 0.9em;
}

#hebergements h3 {
    font-size: 0.7em;
}


#flex_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#hotel_1, #hotel_2, #hotel_3, #hotel_4, #hotel_5, #hotel_6 {
    width: 150px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}


#populaires {
	width: 300px;
	height: 390px;
	margin: 30px 30px 30px 30px;
	padding: 5px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: rgb(240, 240, 240);
	text-align: left;
}

#flex_2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#populaire_1, #populaire_2, #populaire_3, #populaire_4, #populaire_5, #populaire_6 {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

#activites {
	width: 500px;
	height: 390px;
	margin: 30px 30px 30px 30px;
	padding: 5px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: #F2F2F2;
	text-align: left;
}

footer {
    background-color: #F2F2F2;
    padding-top: 20px;
    display: flex;
    /*A corriger*/
    margin-left: -50px;
    padding-left: 15px;
}

footer nav {
    margin-right: 150px;
}

footer nav ul {
    list-style-type: none;
}

footer nav h1 {
    font-family: 'Raleway-SemiBold', serif;
    font-size: 1em;
}

footer nav a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    line-height: 35px;
}