@font-face {
    font-family: 'Raleway-Thin';
    src: url('polices/Raleway-thin/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('polices/Raleway-thin/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src:url('polices/Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.woff2') format('woff2'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.eot'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('polices/Raleway-SemiBold/Raleway-SemiBold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Regular';
    src:url('polices/Raleway-Regular/Raleway-Regular.woff') format('woff'),
        url('polices/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
        url('polices/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular') format('svg'),
        url('polices/Raleway-Regular/Raleway-Regular.eot'),
        url('polices/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('polices/Raleway-Regular/Raleway-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
    margin-top: 2em;
    margin-left: 2em;
}

body {
	font-family: 'Raleway-Regular', 'Raleway-SemiBold', Arial, sans-serif;
    width: 100%;
}


header {
    display: flex;
}

img {
    width: 100px;
	height: 50px;
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
}

header nav li {
    padding-right: 50px;
}

header nav a {
    text-decoration: none;
    color:grey;
}

header nav a:hover {
    color: #0065FC;
}

header h1 {
	font-family: 'Raleway-SemiBold', serif;
	font-weight: normal;
    font-size: 1.5em;
}

header h2 {
    font-family: 'Raleway-Thin', serif;
	font-weight: normal;
    font-size: 1.1em;
    margin-top: -13px;
}

#search_bar {
    margin-top: 20px;
    margin-bottom: 30px;
}

#B1 {
    display: flex;
}

#background_map_marker {
    background-color: #F2F2F2;
    border-style: none;
    width: 37px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}

.fa-map-marker-alt {
    font-size: 1em;
}

#map_marker {
    width: 15px;
    height: 15px;
    margin: 20px 15px 20px 15px;
}

#barre {
	width: 190px;
	height: 40px;
    border-width: 0.2em;
    border-left-color: white;
    border-right-color: white;
    border-color: #F2F2F2;
    border-style: solid;
}

#rechercher {
    width: 100px;
	height: 40px;
	border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    color: white;
    border-style: none;
    font-weight: bold;
}

#rechercher button:active {
	border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
}

#filtres {
    display: flex;
    margin-bottom: 30px;
}

#filtres h1 {
    font-size: 1em;
    font-family: 'Raleway-SemiBold', serif;
    margin-right: 30px;
}

#filtres button {
    margin-right: 30px;
    border-radius: 50px;
    background-color: white;
    font-family: 'Raleway-SemiBold', serif;
    border-color: #F2F2F2;
    border-width: 0.2em;
    border-style:solid;
}

#information {
    margin-top: 15px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

#background_button_i {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border-color: #F2F2F2;
    border-width: 0.2em;
    border-style: solid;
    margin-right: 10px;
}

.fa-info {
    color: #0065FC;
    font-size: 0.7em;
}

#box_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#hebergements {
	width: 800px;
	height: 570px;
	margin: 30px 0px 30px 0px;
	padding: 5px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: #F2F2F2;
	text-align: left;
}

#hebergements h1 {
    font-family: 'Raleway-SemiBold', serif;
    margin-left: 25px;
    margin-top: 35px;
}

#hebergements h2 {
    font-size: 0.8em;
    font-family: 'Raleway-SemiBold', serif;
    margin-left: 10px;
    margin-top: 13px;
    line-height: 0px;
}

#hebergements h3 {
    font-size: 0.7em;
    margin-left: 10px;
    line-height: 10px;
}


#flex_1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
}


#hotel_1, #hotel_2, #hotel_3, #hotel_4, #hotel_5, #hotel_6 {
    width: 230px;
    height: 180px;
    background-color: white;
    box-shadow: 0.5px 0.5px 10px rgba(105, 103, 103, 0.3);
    border-radius: 10px;
    margin: 15px;
    padding: 3px;
}

.pic_hotel_1 {
    width: 230px;
    height: 110px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    margin-bottom: -5px;
}

.rating {
    margin-left: 10px;
    direction: rtl;
    line-height: 10px;
}

.rating a {
    color: #F2F2F2;
    text-decoration: none;
    width: 1em;
    transition: color .1s;
    cursor: pointer;
}

.rating a:hover,
.rating a:hover ~ a,

.rating a:focus,
.rating a:focus ~ a {
   color: #0065FC;
}


#afficher_plus {
    margin-top: 25px;
    margin-left: 25px;
}

#afficher_plus a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway-SemiBold', serif;
}

#afficher_plus a:hover {
    color: #0065FC;
    font-family: 'Raleway-SemiBold';
}

#populaires {
	width: 370px;
	height: 570px;
	margin: 30px 30px 30px 0px;
	padding: 5px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: rgb(240, 240, 240);
	text-align: left;
}

#populaires h1 {
    font-family: 'Raleway-SemiBold', serif;
    margin-left: 30px;
    margin-top: 23px;
}

.fa-chart-line {
    color: black;
    margin-left: 60px;
}

#populaires h2 {
    font-size: 0.8em;
    font-family: 'Raleway-SemiBold', serif;
    margin-left: 130px;
    margin-top: 13px;
    line-height: 15px;
}

#populaires h3 {
    font-size: 0.7em;
    margin-left: 130px;
    line-height: 5px;
}

#flex_2 {
    display: flex;
    flex-direction: column;
}

#populaire_1, #populaire_2, #populaire_3 {
    width: 320px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    margin-left: 15px;
}

#populaire_2, #populaire_3 {
    margin-top: 35px;
}

.rating_2 {
    margin-left: 130px;
    line-height: 10px;
    direction: rtl;
}

.rating_2 a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 1em;
    transition: color .1s;
 }

.rating_2 a:hover,
.rating_2 a:hover ~ a,

.rating_2 a:focus,
.rating_2 a:focus ~ a {
   color: #0065FC;
   cursor: pointer;
}

.pic_hotel_2 {
    width: 120px;
    height: 120px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    margin-bottom: -5px;
    float: left;
}

#activites {
	width: 1000;
	height: 500;
	margin: 0px 30px 30px -20px;
	padding: 5px 20px 20px 20px;
	text-align: left;
}

#activites h1 {
    font-family: 'Raleway-SemiBold', serif;
}

#box_2 {
    width: auto;
    height: auto;
}

#flex_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#activite_1, #activite_2, #activite_3, #activite_4, #activite_5, #activite_6 {
    width: 200px;
    height: auto;
    background-color: white;
    box-shadow: 0.5px 0.5px 10px rgba(105, 103, 103, 0.3);
    border-radius: 10px;
}

#activites h2 {
    font-family: 'Raleway-SemiBold', serif;
    font-size: 1em;
    margin-left: 10px;
}

.activite {
    width: 200px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    margin-bottom: -5px;
}

footer {
    background-color: #F2F2F2;
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
    /*A corriger*/
    margin-left: -50px;
    padding-left: 15px;
}

footer nav {
    margin-right: 150px;
}

footer nav ul {
    list-style-type: none;
}

footer nav h1 {
    font-family: 'Raleway-SemiBold', serif;
    font-size: 1em;
}

footer nav a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    line-height: 35px;
}

footer nav a:hover {
    color: #0065FC;
}